<h1 class="lesson-title">
	Angular Adv Change Detection
</h1>

<nav>
	<h4>01-chnage-detection</h4>
	<a routerLink="/sample1" routerLinkActive="active">01-chnage-detection</a> <br />
	<h4>02-cd-strategy</h4>
	<a routerLink="/sample2" routerLinkActive="active">01-chnage-detection-strategy</a> <br />
	<h4>03-do-check-sample</h4>
	<a routerLink="/sample3" routerLinkActive="active">01-do-check</a> <br />
	<h4>04-immutable.js</h4>
	<a routerLink="/sample4" routerLinkActive="active">01-muttable-vs-immutable</a> <br />	
	<a routerLink="/sample5" routerLinkActive="active">02-object-assign</a> <br />	
	<a routerLink="/sample6" routerLinkActive="active">03-object-freeze</a> <br />	
	<a routerLink="/sample7" routerLinkActive="active">04-immutable-map</a> <br />	
	<a routerLink="/sample8" routerLinkActive="active">05-from-js</a> <br />	
	<a routerLink="/sample9" routerLinkActive="active">06-immutable-list</a> <br />
</nav>

<div id="sample-panel">
	<router-outlet></router-outlet>
</div>