<h1 class="lesson-title">
	Angular Adv Forms	
</h1>

<nav>
	<a routerLink="/01_registration" routerLinkActive="active">01_registration</a><br />
	<a routerLink="/02_registration" routerLinkActive="active">02_registration (validation)</a><br />
	<a routerLink="/03_registration" routerLinkActive="active">03_registration (validation)</a><br />
	<a routerLink="/04_registration" routerLinkActive="active">04_registration (validation messages)</a><br />
	<a routerLink="/05_registration" routerLinkActive="active">05_registration (submit)</a><br />
</nav>

<div id="sample-panel">
	<router-outlet></router-outlet>
</div>