<table>
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts; let i = index">
      <ng-template [ngTemplateOutlet]="getTemplate(contact)" [ngOutletContext]="{ $implicit: contact }"></ng-template>
    </tr>
  </tbody>
</table>

<ng-template #displayTmpl let-contact>
  <td>{{contact.name}}</td>
  <td>{{contact.age}}</td>
  <td>
    <button (click)="editContact(contact)">Edit</button>
  </td>
</ng-template>

<ng-template #editTmpl>
  <td><input type="text" [(ngModel)]="selected.name" /></td>
  <td><input type="text" [(ngModel)]="selected.age" /></td>
  <td>
    <button (click)="saveContact()">Save</button>
    <button (click)="reset()">Cancel</button>
  </td>
</ng-template>