div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: white;
}

.nested-cards {
    padding: 10px;
    background-color: lightblue;
    vertical-align: top;
    display: flex;
}